@reference "tailwindcss";
@reference "./index.css";

#root {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@layer base {
  [class$="__feedback"] {
    @apply text-red-600;
  }

  .card {
    @apply rounded-2xl content-end text-left;
    @apply min-w-60 bg-secondary text-font;
    @apply border-primary border p-6 rounded-3xl shadow-xl;
  }

  .link {
    @apply inline text-primary;
  }

  #root hr {
    @apply bg-primary text-primary my-2;
  }

  input, textarea, .input {
    @apply border border-primary rounded p-1;
  }

  .valid {
    @apply border-primary;
  }

  .invalid, .invalid:focus {
    @apply border-red-400; 
  }

  input[type="checkbox"] {
    @apply w-5 h-5 accent-primary border border-primary;
    @apply rounded cursor-pointer decoration-primary;
  }

  body h1 {
    @apply text-3xl sm:text-4xl font-bold;
  }

  .container {
    @apply w-[90%] mx-auto;
  }

  .button-danger {
    @apply border border-red-500 bg-red-500 rounded-xl p-2 font-bold text-white;
  }

  .tab--selected {
   @apply bg-primary border-b-0 text-white rounded-t-xl;
  }
}

