@reference "tailwindcss";
@reference "./index.css";

#root {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@layer base {
  .button-primary {
    @apply block w-full p-1 rounded bg-primary text-white font-semibold hover:opacity-90;
    @apply shadow-xl cursor-pointer;
  }

  .button-primary:disabled {
    @apply opacity-20;
  }

  .button-secondary {
    @apply block w-full py-4 rounded-full bg-secondary text-black font-semibold hover:opacity-90;
    @apply shadow-xl;
  }

  .card {
    @apply rounded-2xl shadow-2xl mb-10 p-5 content-end text-left cursor-pointer;
  }

  .link {
    @apply inline text-primary;
  }

  input, textarea, .input {
    @apply border border-primary rounded p-1;
  }

  .valid {
    @apply border-secondary;
  }

  .invalid, .invalid:focus {
    @apply border-primary; 
  }

  input[type="checkbox"] {
    @apply w-5 h-5 accent-primary border border-primary;
    @apply rounded cursor-pointer decoration-primary;
  }

  input[type="checkbox"]:checked::after {
    @apply content-["::"];

    position: absolute;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border-color: white;
    border-style: solid;
  }


  body h1 {
    @apply text-4xl font-bold mb-6;
  }

  .card {
    @apply min-w-60 bg-secondary text-black;
    @apply border-0 shadow-2xl p-6 rounded-3xl;
  }

  .container {
    @apply w-[90%] mx-auto;
  }
}

